 <link rel="stylesheet" href="main.css">
<?PHP
$baglanti=@mysql_connect("localhost","root","");
@mysql_select_db("kutuphane",$baglanti);

$sql_select="select * from kitap";
$sorgu = @mysql_query($sql_select,$baglanti);
if(@$_GET['islem']=="sil")
{
    $id=@$_GET['id'];
    $sql = "delete from kitap where id='$id'";
    @mysql_query($sql,$baglanti);
}
?>
<?PHP
while($data = @mysql_fetch_array($sorgu))    
{
    ?>
    <div id="pencere">
    <tr > 
        <td><?PHP echo $data['kitapadi'];  ?></td>
        <td> <a href="listele.php?islem=sil&id=<?PHP echo $data['id'];?>">AL</a></td><br>
    </tr>
</div>
<?PHP
}

@mysql_close($baglanti);

?>
<a href="index.php">Ana sayfaya dön</a>